.rise {
    width: 50%;
    height: 5%;
    position: absolute;
    top: 47%;
    left: 32%;
    right: 18%;
    font-size: 5mm;
    text-align: center;
    font-family: Arial;
    color: white;
    background-color: #00AB97;
    border-radius: 50px;
    box-shadow: 11px 8px 26px -9px rgba (0,0,0,0.75);
}
.consult {
    width: 50%;
    height: 5%;
    position: absolute;
    top: 60%;
    left: 32%;
    right: 18%;
    font-size: 5mm;
    text-align: center;
    font-family: Arial;
    color: white;
    background-color: #00AB97;
    border-radius: 50px;
    box-shadow: 11px 8px 26px -9px rgba (0,0,0,0.75);
}
.atras {
    width: 20%;
    height: 5%;
    position: absolute;
    bottom: 5%;
    //left: 70%;
    right: 5%;
    font-size: 5mm;
    text-align: center;
    font-family: Arial;
    color: white;
    background-color: #EA5153;
    border-radius: 50px;
}

