.background-image{
    ion-card {
    position: relative;
    text-align: center;
    width: auto;
    }
    .exist {
        width: 50%;
        height: 5%;
        position: absolute;
        top: 46.5%;
        left: 35%;
        right: 15%;
        font-size: 5mm;
        text-align: center;
        font-family: Arial;
        color: white;
        background-color: #00AB97;
        border-radius: 50px;
        box-shadow: 11px 8px 26px -9px rgba (0,0,0,0.75);
    }
    .new {
        width: 50%;
        height: 5%;
        position: absolute;
        top: 60%;
        left: 35%;
        right: 15%;
        font-size: 5mm;
        text-align: center;
        font-family: Arial;
        color: white;
        background-color: #00AB97;
        border-radius: 50px;
        box-shadow: 11px 8px 26px -9px rgba (0,0,0,0.75);
    }
    .atras {
        width: 20%;
        height: 5%;
        position: absolute;
        bottom: 5%;
        //left: 70%;
        right: 5%;
        font-size: 5mm;
        text-align: center;
        font-family: Arial;
        color: white;
        background-color: #EA5153;
        border-radius: 50px;
    }
    
}
    