.see {
    width: 65%;
    height: 5%;
    position: absolute;
    bottom: 18.5%;
    left: 17.5%;
    right: 17.5%;
    font-size: 5mm;
    text-align: center;
    font-family: Arial;
    color: white;
    background-color: red;
    border-radius: 50px;
    box-shadow: 11px 8px 26px -9px rgba (0,0,0,0.75);
}
.atras {
    width: 20%;
    height: 5%;
    position: absolute;
    bottom: 5%;
    //left: 70%;
    right: 5%;
    font-size: 5mm;
    text-align: center;
    font-family: Arial;
    color: white;
    background-color: #EA5153;
    border-radius: 50px;
}

